@use '../variables' as *;

.dashboard-container {
    padding: 20px 0px;
}

.overview-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-3px);
}

.icon-shell {
    background-color: #f1f9f9;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.value-count {
    font-size: 22px;
    font-weight: bold;
}

.expenses {
    color: #ff7f50;
}

.green {
    color: green;
    font-size: 12px;
}

p {
    margin: 0;
    color: #6b7280;
    font-size: 14px;
    font-weight: 600;
}

.error-box {
    background: #ffcccc;
    padding: 10px;
    color: red;
    text-align: center;
    border-radius: 8px;
    font-weight: bold;
}

.item-loader {
    animation: loadItem 1s linear infinite;
    font-size: 18px;
    display: inline-block;
}

@keyframes loadItem {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 1024px) {
    .overview-grid-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}



@media (max-width: 468px) {
    .card {
        gap: 8px;
        padding: 10px 10px;

.value-count {
    font-size: 18px;
}
}
}



@media (max-width: 375px) {
    
    .overview-grid-container {
    gap: 10px;
    .card {

        padding: 10px 10px;
        display: unset;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;

        .icon-shell {
            width: 35px;
            height: 35px;
        }
    }
    .dash-card-content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .value-count {
            font-size: 18px;
        }
    }
    
    }

}




