@use '../variables' as *;


.header.sticky {
  background-color: $white;
  position: sticky;
  top: 5px;
  z-index: 9999999999999;
  box-shadow: $box-shadow;
  width: 100%;
}

.header {
  padding: 10px;
  margin: 10px 5px 10px 0px;
  border-radius: $border-radius;
  transition: all 0.3s ease;

  .desktop-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }


  .nav-container {
    display: flex;
    align-items: center;
    flex: 1;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 10px;
    gap: 26px;
    max-width: 70%;
    width: 100%;








  }

  .search-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: #009693;

  }

  .search-input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: $font-size-small;
    width: 100%;
    padding: 5px;
    color: $primary-color;

    &::placeholder {
      color: $primary-color;
    }
  }

  .clear-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: $font-size;
    color: #777;
    margin-left: 5px;
  }

  .search-container {
    display: flex;
    align-items: center;
    background-color: #F1F9F9;
    border-radius: 20px;
    padding: 5px 10px;
    width: 100%;
  }


  h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
  }
}



.mobile-searchbar {

  display: none;
  background-color: #fff;
  border-radius: 50px;
  padding: 10px;
  gap: 26px;
  max-width: 70%;
  width: 100%;

}






@media (max-width:1024px) {
  .mobile-searchbar {
    display: flex;
    width: 100%;
    max-width: 1024px;
    padding: 5px 10px;
  }


  .header {
    .desktop-header {
      margin: 0px;



      .nav-container {
        justify-content: end;
        flex: auto;
        max-width: 0px;
        width: auto;
        background-color: unset;

        .search-container {
          display: none;
        }
      }
    }
  }


}



@media (max-width:1024px) {}