@use '../variables' as *;
.navigation-buttons {
    display: flex;
    gap: 18px;
    justify-content: flex-end;
    margin-bottom: 30px;

    .navigation-button{
        background-color: var(--primary-color);
        color: $white;
        font-size: $font-size-large;
        font-weight:  $font-weight-medium;
        padding: 9px 22px;
        text-decoration: none;
        border-radius: 50px;
        display: flex;
        gap: 10px;
        align-items: center;
    }
    
   

}



