@use '../variables' as *;
.navigation-buttons {
    display: flex;
    gap: 18px;
    justify-content: flex-end;
    margin-bottom: 30px;

    .navigation-button{
        background-color: var(--primary-color);
        color: $white;
        font-size:16;
        font-weight:  $font-weight-medium;
        padding: 10px 12px;
        text-decoration: none;
        border-radius: $border-radius;
        display: flex;
        gap: 5px;
        align-items: center;
    }
    
   

}

.roll-list-navigation-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0px;
    margin-bottom: 20px;

}

