@use '../variables' as *;


.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}

// ********* Sidebar css ********* //
.sidebar {
    max-width: 250px;
    background-color: $white;
    transition: width .3s ease-in-out;
    position: relative;
    z-index: 999999;
    height: 100vh;

    .sidebar-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: bold;
        height: 70px;
        padding: 10px 20px;
        border-bottom: 1px solid #efefef;
        margin-bottom: 30px;
       
        a {
            text-decoration: none;
            color: $primary-color;
            white-space: nowrap;
        }
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 0px;

        li {
            padding: 9px 20px;
            height: 45px;
            position: relative;
            display: flex;
            align-items: center;

            span.menu-icon {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            a {
                text-decoration: none;
                display: flex;
                gap: 20px;
                font-size: 16px;
                color: $dark-color;
                font-weight: 500;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color:  #656464;
                align-items: center;
                width: 100%;
                &:hover {
                    color: $hover-color;
                svg {
                    color: $hover-color;
                }
            }
            svg {
                font-size: 18px;
                color: #656464;
           
            }
            .submenu-icon {
                font-size: 20px;
            }
            }

            .active-indicator {
                position: absolute;
                right: 0;
                top: 0;
                width: 2px;
                height: 100%;
                background-color: $primary-color;
            }
            &.active {
                background-color: #DEE9F2;
              
            a {
                color: $primary-color;
                font-weight: 700;
            }
             &:hover svg ,svg {
                    color: $primary-color;
                }
            }
        }
    }
}

.sidebar.collapse-view .sidebar-header {
    padding: 12px;
}


.tooltip {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateX(10px) translateY(-50%);
    padding: 5px 10px;
    background-color: $primary-color;
    color: $white;
    border-radius: $border-radius;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
    z-index: 99999999;

}

.menu-item:hover .tooltip {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in-out, visibility 0s 0s;
    z-index: 99999999;
}


@media (max-width: 1024px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 50%;
        height: 100vh;
        transition: transform 0.3s ease-in-out;
        z-index: 999999;
        padding: 0px;

        .tooltip {
            display: none;
        }
    }

    .hide-sidebar {
        transform: translateX(-102%);
    }

    .show-sidebar {
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    .sidebar {
        max-width: 90%;
    }
}

@media (max-width: 468px) {
    .sidebar {
        max-width: 100%;
        width: 100% !important;
        height: 60vh;
        position: fixed;
        bottom: 0;
        border-radius: 20px 20px 0 0;
        box-shadow: $secondary-shadow;

        .sidebar-header {
            height: 70px;
        }

        ul.menu-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            padding: 10px 10px 200px 10px;
            overflow: auto;
            height: auto;
            min-height: 0vh;
            max-height: 60vh;

            li {
                padding: 5px 10px;
                box-shadow: $box-shadow;

                a {
                    gap: 8px;
                }
            }
        }
    }

    .hide-sidebar {
        transform: translateY(100vh);
    }

    .show-sidebar {
        transform: translateY(40vh);
    }
}