@use '../variables' as *;

.recurring-wrapper {
  .header{
    display: flex;
    justify-content: space-between;
  }
  .toggle-button {
    padding: 8px 16px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    width: fit-content !important;
    transition: all 0.3s ease;
    border: none;
    cursor: pointer;
  
    &.on {
      background-color: var(--primary-color);
      color: white;
    }
  
    &.off {
      background-color: #e0e0e0;
      color: #555;
    }
  
    &:hover {
      opacity: 0.9;
    }
  }
  
  

  }  


