@use '../variables' as *;

.submit-task-form {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .form-group {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
            font-weight: 400;
            display: block;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0.4px;
            color: $para-color;
        }

        textarea {
            padding: 10px;
            border-radius: $border-radius;
            border: 1px solid $border-color;
            font-size: $font-size;
            resize: vertical;
        }

        .upload-card {
            position: relative;
            border-radius: $border-radius;
            background: $white;
            backdrop-filter: blur(12px);
            border: 2px dashed var(--primary-light);
            padding: 10px;
            text-align: center;
            cursor: pointer;
            overflow: hidden;

            &:hover {
                border-color: var(--primary-color);
                background: rgba(0, 150, 147, 0.05);
            }

            .upload-input {
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
                z-index: 2;
            }

            .upload-text {
                font-size: 14px;
                color: #4a4a4a;
            }

            .upload-note {
                font-size: 12px;
                color: #888;
            }
        }
    }

    .image-preview-grid {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        .image-preview-item {
            position: relative;
            box-shadow: $box-shadow;

            img {
                border-radius: $border-radius;
            }

            .remove-image-btn {
                position: absolute;
                top: -6px;
                right: -6px;
                background-color: #ff4d4d;
                color: $white;
                border: none;
                border-radius: $border-radius;
                width: 18px;
                height: 18px;
                font-size: 12px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
                transition: background 0.3s;

                &:hover {
                    background-color: #e60000;
                }
            }
        }
    }

    .task-timeline-btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }
}