@use '../variables' as *;

// All Task styling start here
.table-actions-wrapper {
  display: flex;
  justify-content: space-around;

  .table-e-d-v-buttons {
    cursor: pointer;
    border-radius: $border-radius;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
    display: inline-flex;
    width: 28px;
    height: 28px;
    padding: 5px;
    border: unset;
    background-color: unset;
  }


  .edit-button {
    color: $success-color;

    &:hover {
      background-color: rgba(0, 128, 0, 0.1); // Light green background on hover
    }
  }

  .delete-button {
    color: $danger-color;

    &:hover {
      background-color: rgba(255, 0, 0, 0.1); // Light red background on hover
    }
  }
}

// All Task styling end here
.task-form {
  width: 100%;

  .add-task-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 10px;

    .form-group {

      input,
      select,
      textarea {
        width: 100%;
        padding: 10px 12px;
        border: 1px solid $feild_border;
        border-radius: $border-radius;
        transition: all 0.2s;
        font-size: 16px;

        &:focus {
          border-color: var(--primary-light);
          outline: none;
        }
      }

    }

    .form-group {
      display: flex;
      flex-direction: column;
      gap: 0px;

      label {
        margin-bottom: 5px;
        font-weight: 400;
        display: block;
        font-size: 13px;
        letter-spacing: 0.4px;
        color: $para-color;
      }

      .react-datepicker-wrapper {
        width: 100%;
      }



      .buttons {
        padding: 8px 22px !important;
        font-size: 13px;
      }

      .buttons.off,
      .buttons.on {
        width: 100px;
      }
    }

    .update-outer {
      display: flex;
      justify-content: flex-end;
    }

    /* Action Buttons */
    .form-actions {
      grid-column: span 2;
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
      margin-bottom: 20px;




    }
  }
}

.view-task-actions-container {
  display: flex;
  justify-content: space-between;


  .view-task-check-icon,
  .view-times-check-icon {
    cursor: pointer;
    border-radius: $border-radius;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;
    display: inline-flex;
    width: 28px;
    height: 28px;
    padding: 5px;

    /* font-size: 13px; */
  }

  .view-task-check-icon:hover {
    background-color: rgba(0, 128, 0, 0.1); // Light green background on hover
  }

  .view-times-check-icon:hover {
    background-color: rgba(255, 0, 0, 0.1); // Light red background on hover
  }


  button {
    background-color: unset;
    border: unset;
  }

  .view-task-check-icon {
    color: $success-color;
  }

  .view-times-check-icon {
    color: $danger-color;
  }

}

/* Responsive */
@media (max-width: 768px) {
  .empty-state-icon {
    font-family: 44px !important;
  }


  .add-task-form {
    grid-column: span 1;


    .add-task-form .form-actions {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

@media (max-width: 568px) {

  .task-form {

    .add-task-form {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .form-group {
      margin-bottom: 0px;
    }
  }
}