@use '../variables' as *;

.tasks-table{
width: 100%;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;

  
  .tasks-tr {
    border: 1px solid #ddd; 
  }

  .tasks-th
  {
    background-color:$primary-color;
    color: $white;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-large;
    line-height: 150%;
    font-family: $font-family;
  }

  .tasks-th,
  .tasks-td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }






}