@use '../../variables' as *;

.add-packages-conatiner {
    margin: 2rem auto;
    padding: 10px 20px 20px 20px;
    background: $white;
    border-radius: $border-radius;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);


    .header {
        h2 {
            font-size: 1.8rem;
            color: var(--primary-color);
        }

        p {
            color: #718096;
            font-size: 1rem;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .form-section {
            background: #f8fafc;
            padding: 1.5rem;
            border-radius: $border-radius;
            border: 1px solid #e2e8f0;

            .section-title {
                font-size: 1.2rem;
                color: var(--primary-color);
                margin-bottom: 1.5rem;
                padding-bottom: 0.5rem;
                border-bottom: 1px solid var(--primary-color);
            }
        }

        .form-group-outer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;


            .form-group {
                margin-bottom: 1.5rem;
            }


        }

        .grids {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 16px;
        }

        .form-label {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 0.5rem;
            font-weight: 500;
            color: #4a5568;

            .required {
                color: #e53e3e;
                margin-left: 0.25rem;
            }
        }

        .form-input {
            width: 100%;
            padding: 10px;
            border: 1px solid #cbd5e0;
            border-radius: $border-radius;
            font-size: 1rem;
            transition: border-color 0.2s;

            &:focus {
                outline: none;
                border-color: var(--primary-color);
            }

            &::placeholder {
                font-size: 14px;
            }
        }

        .input-with-icon {
            position: relative;

            .input-icon {
                position: absolute;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
                color: #718096;
            }

            .form-input {
                padding-left: 2.5rem;
            }
        }

        .icon {
            color: #4a5568;
        }

        .multi-select {
            position: relative;

            .selected-items {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;
                margin-bottom: 0.75rem;
                min-height: 2.5rem;

                .selected-item {
                    background: #edf2f7;
                    padding: 0px 15px;
                    border-radius: $border-radius;
                    font-size: 0.875rem;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;

                    .remove-item {
                        background: none;
                        border: none;
                        color: $gray-color;
                        cursor: pointer;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        font-size: 14px;
                        position: absolute;
                        top: -20px;
                        right: 0;

                        &:hover {
                            color: #e53e3e;
                        }
                    }
                }
            }

            .dropdown-container {
                position: relative;

                .dropdown-toggle {
                    width: 100%;
                    padding: 0.75rem 1rem;
                    background: #fff;
                    border: 1px solid #cbd5e0;
                    border-radius: $border-radius;
                    text-align: left;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    transition: border-color 0.2s;

                    &:hover {
                        border-color: #a0aec0;
                    }

                    .dropdown-icon {
                        transition: transform 0.2s;
                        background-color: var(--primary-color);
                        border-radius: $border-radius;
                        font-size: 18px;
                        color: white;
                        width: 20px;
                        height: 20px;

                        &.open {
                            transform: rotate(180deg);
                            background-color: var(--primary-color);
                            border-radius: $border-radius;
                            font-size: 18px;
                            color: white;
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                .dropdown-menu {
                    position: absolute;
                    top: 100%;
                    left: 0;
                    right: 0;
                    background: #fff;
                    border: 1px solid #e2e8f0;
                    border-radius: $border-radius;
                    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
                    max-height: 300px;
                    overflow-y: auto;
                    z-index: 10;
                    margin-top: 0.25rem;
                    width: fit-content;
                    min-width: 150px;

                    .dropdown-item {
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        gap: 0.75rem;
                        cursor: pointer;
                        transition: background-color 0.2s;

                        &:hover {
                            background: #f7fafc;
                        }

                        .checkbox-container {
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            .checkbox.checked {

                                width: 18px;
                                height: 18px;
                                background-color: var(--primary-color);
                                border: 2px solid var(--primary-color);
                                border-radius: $border-radius;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: background-color 0.3s ease, border-color 0.3s ease;
                                color: white;
                                // Optional animation
                                animation: checkPulse 0.3s ease;

                                svg {
                                    color: white;
                                    font-size: 12px;
                                }
                            }

                            .checkbox.unchecked {
                                width: 18px;
                                height: 18px;
                                border: 2px solid var(--primary-color);
                                border-radius: $border-radius;
                                background-color: transparent;
                            }

                            @keyframes checkPulse {
                                0% {
                                    transform: scale(0.8);
                                    opacity: 0;
                                }

                                100% {
                                    transform: scale(1);
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
            }
        }

        .tooltip-container {
            position: relative;
            display: inline-block;
            display: flex;
            justify-content: flex-end;
        }

        .hover-tooltip {
            position: absolute;
            bottom: 10px;
            left: 50%;
            transform: translateX(-50%);
            background: #ff4444d0;
            color: white;
            padding: 8px 16px;
            border-radius: $border-radius;
            font-size: 16px;
            white-space: nowrap;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.2s ease;
            pointer-events: none;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }


        .submit-button {
            background: var(--primary-color);
            color: #fff;
            border: none;
            padding: 10px;
            border-radius: $border-radius;
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.2s;


            &:disabled {
                cursor: not-allowed;
                opacity: 0.7;
                background-color: #cccccc;
                color: #505050;
            }

            &:disabled:hover {
                background-color: #cccccc;
                transform: none;
                position: relative;

            }
        }

        .submit-button:disabled:hover~.hover-tooltip {
            opacity: 1;
            visibility: visible;
        }

        .submit-button:disabled {
            cursor: not-allowed;
        }


    }

    .loading,
    .error {
        padding: 2rem;
        text-align: center;
        background: #f8fafc;
        border-radius: $border-radius;
    }

    .error {
        color: #e53e3e;
    }



}




@media (max-width: 1440px) {
    .packages-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 800px) {
    .packages-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .add-packages-conatiner {
        .header {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
    }

}





// Responsive
@media (max-width: 768px) {
    .add-packages-conatiner {
        .form-section {
            padding: 1rem;
        }
    }

    .grid-cols-2 {
        grid-template-columns: 1fr !important;
    }

    .container {
        padding: 1rem;
    }
}

@media (max-width: 568px) {
    .add-packages-conatiner {

        .header {
            align-items: center;
            gap: 10px;
            margin: 10px 0;
            padding: 10px;
            flex-direction: column;
            text-align: center;
        }

        .form {
            .form-group-outer {
                display: flex !important;
                flex-direction: column !important;

            }
        }
    }

    .packages-grid {
        grid-template-columns: 1fr;
    }

}

@media (max-width: 425px) {
    .add-packages-conatiner {

        .header {

            h1 {
                color: #2d3748;
                font-size: 22px;
            }
        }
    }

}