@use '../../variables' as *;

.bank-account-form-wrapper {

    .bank-account-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        input,
        select {
            width: 100%;
            padding: 0.7rem 1rem;
            font-size: 1rem;
            border: 1px solid $border-color;
            border-radius: 6px;
            transition: border-color 0.2s ease;
            outline-offset: 2px;

            &:focus {
                border-color: $gray-color; // primary color
                outline: none;
            }
        }

        input.no-spinner::-webkit-inner-spin-button,
        input.no-spinner::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input.no-spinner {
            -moz-appearance: textfield;
        }
    }

    .bank-form-actions {
        margin-top: 1.5rem;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

    }
}


.bank-account-list{
.add-bank-btn-outer{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
    gap: 5px;
}
}