@use '../../variables' as *;

.bank-account-form-wrapper {

    .bank-account-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        input,
        select {
            border: 1.5px solid #efefef;
            border-radius: 6px;
            outline: none;
            width: 100%;
            padding: 9px 12px;
            font-size: 16px;
            transition: border-color .3s;

            &:focus {
                border-color: var(--primary-color); // primary color
                outline: none;
            }
        }

        input.no-spinner::-webkit-inner-spin-button,
        input.no-spinner::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input.no-spinner {
            appearance: textfield;
        }


        .form-input-lable-wrapper {
            label {
                letter-spacing: .4px;
                color: #333;
                margin-bottom: 5px;
                font-size: 13px;
                font-weight: 400;
                display: block;
            }
        }
    }

    .bank-form-actions {
        margin-top: 1.5rem;
        display: flex;
        justify-content: flex-end;
        gap: 1rem;

    }
}


.bank-account-list {
    .add-bank-btn-outer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 1rem;
        gap: 5px;
    }
}



@media (max-width: 468px) {
    .bank-account-form-wrapper {

        .bank-account-form {
            display: flex;
            flex-direction: column;
        }
    }
}