@use '../variables' as *;

.employee-profile-container {
  color: $para-color;

  .employee-profile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .employee-profile-inner-container {
    background: $white;
    border-radius: $border-radius;
    padding: 30px 20px;

    .loading-spinner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      font-size: $font-size-large;
      color: var(--primary-color);
    }

    .not-found {
      text-align: center;
      padding: 40px;
      font-size: $font-size-large;
      color: $danger-color;
    }

    .profile-header {
      display: flex;
      align-items: center;
      gap: 30px;
      padding: 0px 15px 25px 15px;

      .profile-avatar {
        .avatar-image {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
          border: 3px solid rgba(var(--primary-color), 0.1);
        }

        .avatar-initial {
          width: 85px;
          height: 85px;
          border-radius: 50%;
          background: linear-gradient(135deg, rgba(var(--primary-color), 0.2), rgba($orange-color, 0.2));
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 50px;
          font-weight: $font-weight-bold;
          color: var(--primary-color);
          border: 1px solid var(--primary-color);
        }
      }

      .profile-header-content {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profile-title {
          h1 {
            margin: 0;
            font-size: $font-size-extra-large;
            font-weight: $font-weight-semi-bold;
            color: var(--primary-color);

          }

          .profile-meta {
            margin-top: 10px;
            display: flex;
            gap: 10px;

            .employ-view-role {
              background-color: #ececec !important;
            }

            .badge {
              padding: 4px 12px;
              border-radius: $border-radius;
              font-size: $font-size-small;
              font-weight: $font-weight-medium;

              &.role {
                background: rgba(var(--primary-color), 0.1);
                color: var(--primary-color);
              }

              &.status {
                background: rgba($success-color, 0.1);
                color: $success-color;
              }

            }
          }
        }

        .profile-actions {
          display: flex;
          gap: 15px;

          .btn {
            padding: 8px 20px;
            height: 40px;
            border-radius: $border-radius;
            font-weight: $font-weight-medium;
            cursor: pointer;
            transition: $transition;
            border: none;
            font-size: $font-size-small;
            display: flex;
            align-items: center;
            gap: 5px;

            &.primary {
              background: var(--primary-color);
              color: $white;

              &:hover {
                background: var(--primary-light);
                box-shadow: 0 8px 24px #0000001a;
              }
            }

            &.danger {
              background: rgba($danger-color, 0.1);
              color: $danger-color;

              &:hover {
                background: rgba($danger-color, 0.2);
              }
            }
          }
        }
      }
    }

    .profile-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 20px;

      .profile-card {
        background: $white;
        border-radius: $border-radius;
        padding: 10px;
        border: 1px solid $border-color;
        transition: $transition;

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.049);
        }

        .card-title {
          display: flex;
          align-items: center;
          gap: 10px;
          margin-top: 0;
          margin-bottom: 20px;
          font-size: $font-size-large;
          font-weight: $font-weight-semi-bold;
          color: $dark-color;
          padding-bottom: 10px;
          border-bottom: 1px solid $border-color;
          align-items: center;

          i {
            color: var(--primary-color);
          }

          h4 {
            color: var(--primary-color);
          }
        }

        .info-grid {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px;

          .info-item {
            .info-label {
              display: block;
              font-size: $font-size-small;
              color: $gray-color;
              margin-bottom: 5px;
              font-weight: $font-weight-medium;
            }

            .info-value {
              display: block;
              font-size: $font-size-one;
              font-weight: $font-weight-regular;
              color: $para-color;
              word-break: break-word;
            }
          }
        }
      }

      .basic-info {
        border-top: 3px solid var(--primary-color);
      }

      .employment-info {
        border-top: 3px solid $orange-color;
      }

      .personal-info {
        border-top: 3px solid $success-color;
      }

      .financial-info {
        border-top: 3px solid $warning-color;
      }
    }
  }


  .profile-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
  }

  .desktop-only {
    display: flex;
    gap: 15px;
  }

  .mobile-only {
    display: none;
  }

  .dots-button {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 27px;
    font-weight: 700;
    color: var(--primary-color);
  }

  .dropdown-menu {
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    border-radius: $border-radius;
    width: 150px;
    padding: 10px 0px;
  }

  .dropdown-menu button {
    display: block;
    width: 100%;
    background: none;
    border: none;
    padding: 0.5rem 1rem;
    text-align: left;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    gap: 5px;
    align-items: center;

    &:active {
      background-color: rgb(241, 249, 249);
      border-right: 2px solid var(--primary-color);
    }

    svg {
      color: $success-color;
    }


  }

  .dropdown-delete-btn {
    color: $danger-color;

    svg {
      color: $danger-color !important;
    }

  }

  .dropdown-edit-btn {
    border-bottom: 1px solid gray;
    color: green;
  }

  @media (max-width: 668px) {
    .desktop-only {
      display: none !important;
    }

    .mobile-only {
      display: block;
    }

    .employee-profile-inner-container {
      padding: 10px;

      .profile-header {
        .profile-avatar {
          .avatar-initial {
            width: 60px;
            height: 60px;
          }
        }
      }

      .profile-grid {
        gap: 20px;
      }

      .profile-header {
        gap: 10px;
        padding: 0px 0px 20px;

        .profile-header-content {
          .profile-title {
            h1 {
              font-size: 20px;
            }

            .profile-meta {
              .badge {
                font-size: 12px;
              }
            }
          }

          .profile-actions {
            .btn {
              padding: 10px;
              font-size: 13px;

              &.primary {
                color: #fff;
                background: var(--primary-color);
              }
            }
          }
        }
      }
    }
  }


  @media (max-width: 525px) {



    .employee-profile-inner-container {
      .profile-header {
        .profile-header-content {
          align-items: self-start;
        }
      }
    }
  }



  @media (max-width: 425px) {
    .employee-profile-inner-container {




      .profile-grid {
        display: flex;
        flex-direction: column;

        .profile-card {
          &:hover {
            transform: unset;
          }

          .info-grid {
            grid-template-columns: 1fr 1fr;
            gap: 10px;
            display: grid;
          }

          .card-title {
            flex-direction: column;
          }
        }
      }
    }
  }


}