@use '../variables' as *;

// nav section styling
.back-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: $white;
    padding: 6px;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    border: none;
    cursor: pointer;
    gap: 2px;
    text-decoration: none;
}
.status-select {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;
}

.status-green {
  background-color: #e6f5ec;
  color: $success-color;
}

.status-orange {
  background-color: #fff4e5;
  color: $orange-color;
}

.status-red {
  background-color: #fdecea;
  color: $danger-color;
}

@media (max-width:468px) {
    .back-button {
        display: none;
    }
}