@use '../variables' as *;

// nav section styling
.back-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: $white;
    padding: 6px;
    border-radius: 10px;
    margin: 20px 0px 20px 0px;
    border: none;
    cursor: pointer;
    gap: 2px;
    text-decoration: none;
}

@media (max-width:468px) {
    .back-button {
        display: none;
    }
}