$primary-color: #007bff;
$orange-color: #FF7F50;
$secondary-color: #e1f0ff;
$tertiary-color: #cce5ff;
$gray-color: #999;
$white: #ffffff;
$dark-color: #222222;
$para-color: #333333;
$light-color: #f4f4f4;
$danger-color: #EA1C20;
$success-color: #01A601;
$warning-color: #ffcc00;

$border-color: #007bff57;
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
$secondary-shadow: 0px 18px 40px 0px #007bff14;