// src/styles/themes/_dark.scss

$primary-color: #00aaaa;
$orange-color: #FF9933;
$secondary-color: #1e1e1e;
$tertiary-color: #2a2a2a;
$gray-color: #ccc;
$white: #121212;
$dark-color: #ffffff;
$para-color: #dddddd;
$light-color: #2e2e2e;
$danger-color: #ff4d4f;
$success-color: #28a745;
$warning-color: #ffc107;

$border-color: #ffffff57;
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
$secondary-shadow: 0px 18px 40px 0px #01969314;