// src/styles/themes/_light.scss

$primary-color: #009693;
$orange-color: #FF7F50;
$secondary-color: #f9f9f9;
$tertiary-color: #f3f3f3;
$gray-color: #999;
$white: #ffffff;
$dark-color: #222222;
$para-color: #333333;
$light-color: #f4f4f4;
$danger-color: #EA1C20;
$success-color: #01A601;
$warning-color: #ffcc00;

$border-color: #00969357;
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
$secondary-shadow: 0px 18px 40px 0px #01969314;