    $primary-color: #384B70;
    $primary-light: #9CB9D0;
    $lable-color: #333;
    $lable-font: 13px;
    $light_blue: #DEE9F2;
    $feild_border: #efefef;
    $orange-color: #FF4C51;
    $secondary-color: #f9f9f9;
    $tertiary-color: #f3f3f3;
    $gray-color: #999;
    $white: #ffffff;
    $dark-color: #2C2B2E;
    $para-color: #333333;
    $light-color: #f4f4f4;
    $danger-color: #FF4C51;
    $success-color: #01A601;
    $warning-color: #ffcc00;
    $font-size: 16px;
    $input-icon-size: 16px;
    $font-size-small: 14px;
    $font-size-one: 15px;
    $font-size-extra-small: 12px;
    $font-size-large: 18px;
    $font-size-extra-large: 24px;
    $font-size-extra-extra-large: 32px;
    $font-family: "DMSans", sans-serif;
    $font-weight-light: 300;
    $font-weight-regular: 400;
    $font-weight-medium: 500;
    $font-weight-semi-bold: 600;
    $font-weight-bold: 700;
    $font-weight-extra-bold: 800;
    $font-weight-black: 900;
    $border-radius: 5px;
    $transition: 0.3s;
    $box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.049);
    $secondary-shadow: 0px 18px 40px 0px #01969314;
    $border-color: #efefef;
    $light-bg: #f8f9fc;
    $text-dark: #2e2e2e;
    $heading: #1b1b1b;