// common styles for the application
@use './variables' as *;
@use './fonts.scss' as *;
// @use './themes/base.scss' as *;
@use './themes/themes.scss' as *;


// homepage styling
@use './homepage.scss' as *;
@use './companyHome.scss' as *;

// forgot password page styling
@use './forms/forgotPassword.scss' as *;


// admin dashboard section
@use './adminDashboard/dashboard.scss' as *;
@use './adminDashboard/myAccount.scss' as *;
@use './adminDashboard/notifications.scss' as *;

// task-details-section
@use './tasks/task_details.scss' as *;
@use './tasks/apply_for_leave.scss' as *;
@use './tasks/recurring_tasks.scss' as *;
@use './tasks/task_timeline.scss' as *;
@use './tasks/submittask.scss' as *;
@use './tasks/viewTask.scss' as *;


// hr  section
@use './Hr/Hr_dashbord.scss' as *;
@use './Hr/status_view.scss' as *;
@use './Hr/employees_sallery.scss' as *;
@use './Hr/edituser.scss' as *;
@use './Hr/employee_profile.scss' as *;
@use './Hr/view-attendance.scss' as *;
@use './Hr/employee_form_.scss' as *;



// expenseform styling..........
@use './expenseform/expenseform.scss' as*;
@use './expenseform/ViewExpenditure.scss' as*;


// tables section
@use './tables/tables.scss' as *;


// bars section
@use './bars/navbar.scss' as *;
@use './bars/navigation.scss' as *;
@use './bars/sidebar.scss' as *;
@use './bars/footerBar.scss' as *;


// forms section
@use './forms/add_employes_form.scss' as *;
@use './forms/role_form.scss' as *;
@use './forms/forms.scss' as *;
@use './registerCompany.scss' as *;

// admin store section
@use './store/storedashbord.scss' as *;
@use './store/store_forms.scss' as *;
@use './store/variations.scss' as *;
@use './store/addcatagory.scss' as *;
@use './store/store_view_item.scss' as *;
@use './store/allitems.scss' as *;
@use './store/viewStock/view_stock.scss' as *;

// vendors section........................
@use './store/vendors/view-vendor.scss' as *;

// @use './store/attributes.scss' as *;

// chat pannel styling 
@use './chat/chatPannel.scss' as *;


// superadmin company section
@use './superadmin/company.scss' as *;
@use './superadmin/sDashbord.scss' as *;
@use './superadmin/supAdminbusness.scss' as *;
@use './superadmin/companyView.scss' as *;
@use './superadmin/editCompany.scss' as *;
@use './superadmin/viewadmin.scss' as *;





// super admin header sectiion 
@use './s-admin-header/s-admin-header.scss' as *;

// super admin dashbord sectiion 
@use './superadmin/sDashbord.scss' as *;
// super admin package sectiion 
@use './superadmin/packages/packageView.scss' as *;
@use './superadmin/BusinessCategories.scss' as *;
@use './superadmin/packages/createPackages.scss' as *;



// permissions section
@use './permissions/permissions.scss' as *;

// invoices section 
@use './invoices/invoiceForm.scss' as *;
@use './invoices/qutation.scss' as *;
@use './invoices/viewinvoice.scss' as *;
@use './invoices/viewcustomers.scss' as *;
@use './invoices/credits/pay.scss' as *;
@use './invoices/credits/viewcredits.scss' as *;


// cash-flow
@use './invoices/cash-flow/cardflow.scss' as *;
@use './invoices/cash-flow/payment.scss' as *;


// setting styling
@use './settings/settings.scss' as *;
@use './settings/shift.scss' as *;
@use './settings/taxes.scss' as *;
@use './settings/bankacount/bankacount.scss' as *;
@use './settings/leavesandholidays.scss' as *;

// policy-pages
@use './policy-pages.scss' as *;


// My Acount Section
@use './my-acount/addCompany.scss' as *;


// company styling
@use './company/ViewCompany.scss' as *;

// modal styling.............
@use '../styles/common/modal.scss' as*;

// emptystate section...................................................................................
@use './emptystate/empatystate.scss' as *;


* {
    margin: 0;
    padding: 0;
    font-family: $font-family !important;
    box-sizing: border-box;

    svg {
        cursor: pointer;
    }
}

body,
button,
input,
textarea,
.MuiTypography-root {
    font-family: $font-family !important;
}


.drag-scroll {
    cursor: grab;
    user-select: auto;
}

.drag-scroll.dragging {
    cursor: grabbing;
    user-select: none;

    tr,
    th {
        cursor: grabbing;
        user-select: none;
    }
}

body {
    background-color: #F8F7FA;
    margin: 0 !important;
    padding: 0 !important;
    top: 0 !important;
    position: relative !important;
}

//  google translator css start ******************* **********************
body>.skiptranslate,
.goog-logo-link,
.gskiptranslate,
.goog-te-gadget span,
.goog-te-banner-frame,
#goog-gt-tt,
.goog-te-balloon-frame,
div#goog-gt- {
    display: none !important;
}

.goog-te-gadget {
    color: transparent !important;
    font-size: 0px;
    width: 0;
    height: 0;
    display: none;
}

.goog-text-highlight {
    background: none !important;
    box-shadow: none !important;
}

#google_translate_element select {
    background: transparent;
    color: #333333;
    border: none;
    font-weight: bold;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    width: 0;
    height: 0;
    display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
    display: none !important;
}

//  google translator css end ******************* **********************


::-webkit-scrollbar {
    display: none;
}

.buttons {
    padding: 6px 12px;
    border-radius: $border-radius;
    border: unset;
    background-color: var(--primary-color);
    font-size: 16px;
    letter-spacing: 0.3px;
    color: $white;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    color: $white;
    justify-content: center;
    cursor: pointer;
    border-radius: $border-radius;

    &:hover {
        background-color: var(--primary-light);
    }
}



/* Hide number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    appearance: textfield;
}


input,
select,
textarea {

    &:focus {
        outline: none;
    }
}

.hr-attendance-table {
    .user-status {
        .status {
            text-transform: capitalize;
            padding: 5px 12px;
            color: white;
            border-radius: $border-radius;
            text-align: center;
        }
    }

    .approval-status {
        .status {
            text-transform: capitalize;
            padding: 5px 12px;
            color: white;
            border-radius: 50px;
            text-align: center;
        }
    }
}


.datetime-local-input {
    &:hover {
        cursor: pointer;
    }
}






.employee-attendance-view {
    .user-status {
        .status {
            text-transform: capitalize;
            padding: 5px 12px;
            color: white;
            border-radius: $border-radius;
            text-align: center;
        }
    }


    .approval-status {
        .status {
            text-transform: capitalize;
            padding: 5px 12px;
            color: white;
            border-radius: $border-radius;
            text-align: center;
        }
    }
}

.single-item-images {
    height: 200px;
}



.main {
    display: flex;
    overflow: hidden;
    width: 100%;

    .main-content {
        flex: 1;
        overflow-y: auto;
        width: 100%;
        min-height: 0;
        height: 100vh;
        margin: 0px 50px;

        .page-content {
            padding: 20px 0px;
        }
    }
}




.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login-card {
    display: flex;
    flex-direction: column;
}

.login-card form {
    display: flex;
    flex-direction: column;
    gap: 20px;


    input {
        padding: 10px;
        font-size: 18px;
    }

    button {
        padding: 10px;
        cursor: pointer;
    }

}










// datepicker-styling start...............................................................................
.react-datepicker-popper {
    z-index: 999999 !important;
    box-shadow: $box-shadow;

    .react-datepicker {
        border: 1px solid var(--primary-color);
        border-radius: $border-radius;
        background-color: $white;

        &__popper {
            background-color: white;
            z-index: 99999;
        }

        &__week {
            text-align: center;
            cursor: pointer;
            border-bottom: 1px solid #f4f4f4;
            grid-template-columns: repeat(7, 1fr);
            padding: 5px 0;
            display: grid;
        }

        &__day-names {
            text-align: center;
            border-bottom: .5px solid var(--primary-color);
            grid-template-columns: repeat(7, 1fr);
            display: grid;
        }


        &__month {
            padding: 5px;

            &:last-child {
                border-bottom: none;
            }
        }

        &__header--custom {
            background-color: var(--primary-color);
            color: white;
        }

        span.react-datepicker__aria-live {
            font-size: 20px;
            display: flex;
            justify-content: center;
        }

        .react-datepicker__day-name {
            color: white;
            font-size: 15px;
            font-weight: 500;
        }
    }

    .date-p-header {
        display: flex;
        gap: 2px;
        padding: 10px 5px;
    }

    .date-p-btn {
        font-size: 29px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        border: none;
    }

    .date-p-year,
    .date-p-header-month,
    select.p-1.bg-white.border.rounded,
    select.mr-2.p-1.bg-white.border.rounded {
        padding: 5px;
    }

    .datepicker-sunday {
        color: red !important;
    }
}

svg.react-datepicker__triangle {
    color: var(--primary-color);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    color: #fff;
    background-color: #216ba5;
    border-radius: $border-radius;
}

.react-datepicker__day--selected.datepicker-sunday,
.react-datepicker__day--keyboard-selected.datepicker-sunday {
    color: white !important;
    background-color: #216ba5; // or any color you prefer for selected Sundays
    border-radius: $border-radius;
}

.react-datepicker__day {
    padding: 0px;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color) !important;
}


.react-datepicker__header:not(.react-datepicker__header--has-time-select) {
    border-top-right-radius: .3rem;
    background-color: var(--primary-color);
}

h2.react-datepicker__current-month,
.react-datepicker__day-name {
    color: rgb(255, 255, 255) !important;
}

.react-datepicker__month-container {
    float: left;
    width: 100%;
}




.react-datepicker__tab-loop {
    position: absolute;
}

.react-datepicker__year-dropdown-container--select,
.react-datepicker__month-dropdown-container--select {
    margin: 0px !important;
}

.react-datepicker__header__dropdown.react-datepicker__header__dropdown--select {
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

// datepicker-styling End...............................................................................
//...............................................................................

// ...............................................................................




input::placeholder,
textarea::placeholder {
    color: #ccc;
    font-size: 14px;
    letter-spacing: 0.3px;
    background-color: transparent;
}


@media (max-width:1024px) {

    .main .main-content {
        margin: 0;

        .page-content {
            padding: 10px;
        }
    }
}

@media screen and (max-width:767px) {
    .main .main-content {
        padding-bottom: 80px;
    }
}

@media (max-width:468px) {
    .buttons {
        padding: 5px 10px;

    }


}