@use '../variables' as *;
// ViewCompany.scss
.vc-container{
  
    .vc-inner-container {
        margin: 2rem auto;
        background: $white;
        border-radius: 10px;
        box-shadow: $box-shadow ;
        overflow: hidden;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        
  .vc-header {
    background: #009693;
    color: $white;
    padding: 1rem;
    .vc-title {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 700;
    }
    .vc-subtitle {
        color: white;
        font-size: 16px;
        margin: 5px 0px;
    }
  }
  .vc-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px 10px;
    padding: 1.5rem;
  
    .vc-item {
      dt {
        font-size: 18px;
        font-weight: 500;
        color: $dark-color;
        margin-bottom: 0.25rem;
      }
      dd {
        margin: 0;
        font-size: 16px;
        color: $para-color;
        text-transform: capitalize;
      }
    }
  }
  
  .vc-proofs {
    border-top: 1px solid #eee;
    padding: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  
    .vc-proof {
      flex: 1 1 45%;
  
      figcaption {
        font-weight: 600;
        margin-bottom: 0.5rem;
        color: $para-color;
      }
  
      img {
        width: 100%;
        height: auto;
        border-radius: 6px;
        box-shadow: $box-shadow;
      }
    }
  }
  
  .vc-loading,
  .vc-error {
    text-align: center;
    padding: 2rem;
    color: #666;
  }
  
  .vc-error {
    color: $danger-color;
  }
}
}

  