@use '../variables' as *;

.allAdmin-table-outer {

  select,
  input {
    padding: 3px 11px;
    border-radius: $border-radius;
    font-size: 14px;
  }

  select {
    cursor: pointer;
    box-shadow: $box-shadow;
  }

  // Status-select modifiers
  .status-select {
    padding: 6px 10px;
    border-radius: $border-radius;
    font-weight: 500;

    &.active {
      color: #22c55e; // Tailwind green-500
      border: 1px solid #22c55e;
      background-color: #f0fdf4; // Optional: light green bg
    }

    &.blocked {
      color: #ef4444; // Tailwind red-500
      border: 1px solid #ef4444;
      background-color: #fef2f2; // Optional: light red bg
    }
  }

}