@use '../variables' as *;

.customer-view-container {
  background-color: #f9f9f9;
  min-height: 100vh;



  .customer-card {
    background-color: #fff;
    padding: 1rem;
    border-radius: $border-radius;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;

    h2 {
      margin-bottom: 1.5rem;
      color: #333;
      font-size: 1.4rem;
    }

    .info p {
      margin-bottom: 0.8rem;
      font-size: 1rem;
      color: #555;
      display: flex;
      flex-direction: column;

      strong {
        color: #222;
        margin-right: 0.5rem;
      }
    }
  }

  .loading,
  .error {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    color: #666;
  }

  .info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
  }
}






@media (max-width: 768px) {
  .customer-view-container {
    padding: 0;

    .customer-card {
      padding: 1rem;
    }
  }


}