@use '../variables' as *;


.settings-panel-buttons {
    display: flex;
    /* color: red; */
    gap: 10px;
    a{
        color: $white;
        text-decoration: none;
        font-weight: $font-weight-medium;
        font-size: 18px;
    }
}