@use '../variables' as *;

.shift-page {

    .shift-header {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 16px;

        .buttons {
            background-color: $primary-color;
            color: white;
            font-weight: 500;
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 6px 16px;
            border-radius: 5px;

            &:hover {
                background-color: $hover-color;
            }
        }
    }


}

.MuiBox-root {

    .create-btn {
        background-color: $primary-color;
        color: $white;
    }

    .cancel-btn {
        background-color: #d32f2f;
        color: $white;

        &:hover {
            background-color: rgb(241, 128, 128);
        }
    }
}