@use '../variables' as *;

.shift-page {
    .responsive-table {
        .table-view {
            .table-actions {
                display: flex;
                justify-content: flex-start;
                gap: 10px;

                button {
                    background-color: unset;
                    border: none;
                    outline: none;

                    svg {
                        font-size: 16px;
                    }
                }

                .edit-btn {
                    color: var(--primary-color);
                }

                .delete-btn {
                    color: $danger-color;
                }
            }
        }
    }
}

.shift-form-inner {
    label {  
      letter-spacing: .4px;
      color: $lable-color;
      margin-bottom: 5px;
      font-size: $lable-font;
      font-weight: $font-weight-regular;
      display: block;
    }
    input {
        width: 100%;
        padding: 8px 12px;
        border: 1px solid $feild_border;
        border-radius: $border-radius;
        outline: none;
        transition: border-color 0.2s;
    }
}
button.cancel-btn {
    background-color: var(--primary-light);
    color: $white;
    &:hover {
        background-color: $light-color;
        color: var(--primary-color);
    }
}