@use '../variables' as *;

.tax-page {



  
  
  // Container for action buttons inside tax-box
  .action-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;

    svg {
      font-size: 18px;
    }
  }
  
  // Update/Add button inside the form
  .update-add-btn {
    background-color: $primary-color;
    color: $white;
    display: flex;
    gap: 5px;

    .MuiButton-icon {
      margin: 0px;
    }
  }
  
  // Edit button style
  .edit-btn {
    color: $primary-color;
    transition: color 0.2s ease;
 
  }
  

  .buttons{
    background-color: $primary-color;
    color: $white;
    display: flex;
    gap: 0;
    padding: 7px 12px;
  }
}

.modal-box {

  .buttons {
    background-color: $primary-color;
    color: $white;
  }
  

  
}
