@use '../variables' as *;

.tax-page-outer-container {

    .tax-page-header {
        justify-content: space-between;
        margin-bottom: 20px;
        display: flex;
        align-items: center;

        .create-tax-button {
            button {
                padding: 9px 22px;
                border-radius: 50px;
                border: unset;
                color: $white;
                font-size: 15px;
                background-color: $primary-color;
                cursor: pointer;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #007a70;
                }
            }
        }
    }

    .create-tax-section {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
        display: flex;
        flex-direction: column;
        gap: 15px;


        .create-tax-inputs {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            input {
                flex: 1;
                padding: 10px;
                font-size: 16px;
                border: 1px solid #00969357;
                border-radius: 10px;

                &::placeholder {
                    color: #aaa;
                }

                &:focus {
                    border-color: #009693;
                    background: #ffffff;
                }
            }
        }

        .create-tax-button {
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;

            button {
                padding: 9px 22px;
                border-radius: 50px;
                font-size: 15px;
                background-color: $primary-color;
                color: $white;
                cursor: pointer;
                border: none;
                width: 100%;

                &:hover {
                    background-color: #007a70;
                }
            }
        }
    }

    .tax-page-inner-container {
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 10px;

        h2,
        h3 {
            color: $primary-color;
            font-size: 25px;

        }


    }

    .confirm-delete {
        color: #ff6f61;
        font-size: 16px;
        margin-top: 10px;
        cursor: pointer;
    }

    .taxes-list-outer {
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 15px;
            padding: 0;

            li {
                display: flex;
                flex-direction: column;
                background-color: #fff;
                padding: 20px 15px;
                border-radius: 8px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                gap: 10px;

                &:hover {
                    transform: scale(1.02);
                }

                strong {
                    text-transform: capitalize;
                    color: $primary-color;
                    font-size: 18px;
                }

                input {
                    padding: 8px;
                    font-size: 16px;
                    border-radius: 8px;
                    border: 1px solid #00969357;

                    &:focus {
                        outline: none;
                        border-color: $primary-color;
                        box-shadow: 0 0 0 3px rgba($primary-color, 0.1);
                    }
                }

                button {
                    background-color: $primary-color;
                    color: white;
                    border: none;
                    padding: 5px 22px;
                    border-radius: 50px;
                    cursor: pointer;
                    font-size: 15px;
                    transition: background-color 0.3s ease, transform 0.2s ease;

                    &:hover {
                        background-color: #007a70;
                        transform: scale(1.05);
                    }

                    &.cancel {
                        background-color: #ff6f61;

                        &:hover {
                            background-color: #e55b52;
                        }
                    }
                }

                .texrate-buttons-outer {
                    .texrate-buttons-inner {
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .tex-wrapper {
                            color: green;
                            font-weight: 600;
                        }

                        .text-card-outer {
                            display: flex;
                            gap: 10px;
                        }



                    }
                }

                .text-edit-buttons {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .tax-page-outer-container {

        .create-tax-inputs {
            flex-direction: column;
            gap: 15px;
        }

        input {
            width: 100%;
        }
    }
}

@media (max-width: 615px) {
    .tax-page-outer-container {

        .taxes-list-outer {

            ul {
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

                li {
                    padding: 10px 8px;

                    button {
                        padding: 5px 15px;
                        font-size: 12px;
                    }

                    .texrate-buttons-outer {

                        .texrate-buttons-inner {
                            gap: 10px;
                        }

                    }

                    strong {
                        font-size: 15px;
                    }

                    input {
                        font-size: 10px;
                        padding: 8px;
                    }
                }
            }
        }

        .tax-page-inner-container {
            padding: 10px 5px;
        }

        .tax-page-header {

            .create-tax-button {

                button {
                    padding: 5px 11px;
                }

            }

        }


    }

}


@media (max-width: 444px) {
    .tax-page-outer-container {

        .taxes-list-outer {

            ul {
                grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));

                li {
                    align-items: center;
                    text-align: center;
                    gap: 5px;

                    button {
                        padding: 4px 15px;
                        font-size: 12px;
                    }

                    .texrate-buttons-outer {

                        .texrate-buttons-inner {
                            gap: 10px;
                        }

                    }

                    strong {
                        font-size: 15px;
                    }

                    input {
                        font-size: 10px;
                        padding: 8px;
                    }
                }
            }
        }

        .tax-page-inner-container {
            padding: 10px 5px;
        }

        .tax-page-header {

            .create-tax-button {

                button {
                    padding: 5px 11px;
                }

            }

        }
    }

}