@use '../variables' as *;

.tax-page {
  background-color: white;
  padding: 20px;
  border-radius: $border-radius;

  .glass-form {
    background: unset;
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: $border-radius;
    margin-bottom: 2rem;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .MuiTextField-root {
      .MuiOutlinedInput-root.Mui-focused {
        fieldset {
          border-color: $border-color;
        }
      }
    }
  }

  .form-actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  

  .cancel-btn {
    border: 1px solid $primary-color !important;
    color: $white !important;
    text-transform: none;
    padding: 2px 10px;
    border-radius: $border-radius;

    &:hover {
      background-color: rgba(0, 169, 165, 0.05) !important;
    }
  }

  .loading-center {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  .tax-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
  }

  .tax-box {
    background-color: #ffffff;
    padding: 1.2rem 1.5rem;
    border-radius: $border-radius;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      transform: translateY(-1px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    }

    .tax-name {
      font-weight: 600;
      color: #494949;
      margin-bottom: 0.25rem;
      text-transform: capitalize;
    }

    .tax-rate {
      color: green;
      font-size: 0.9rem;
    }
  }

  .action-buttons {
    display: flex;
    gap: 0.5rem;

    svg {
      font-size: 16px;
    }
  }

  .edit-btn {
    color: #ffffff !important;
    transition: color 0.2s ease;

    &:hover {
      color: #008f8b !important;
    }
  }

  .delete-btn {
    color: #e53935 !important;
    transition: color 0.2s ease;

    &:hover {
      color: #c62828 !important;
    }
  }
}