@use '../variables' as *;

.category-container {

  
  .done-category-button-outer {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-right: 10px;
}

  .category-title {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
        padding: 20px;
  }
  
  .category-button {
    padding: 10px 16px;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
    display: inline-block;
  }
  

  
  .done-button {
    background-color: #384B70;
    color: #fff;
  }
  

  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .input-field {
    display: block;
    width: initial;
    padding: 8px;
    border-radius: $border-radius;
    border: 1px solid var(--primary-color);  
    margin-top: 4px;
    margin: 0px 20px 0px 20px;
    
  }
  
  .parent-category-list {
    margin-top: 8px;
  }
  
  .button-group {
    display: flex;
  }
}