  @use '../variables' as *;

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: opacity 0.3s ease;
    pointer-events: none;
    opacity: 0;
    z-index: 999999;
  }

  .modal-overlay.show {
    opacity: 1;
    pointer-events: auto;
  }

  .modal-content {
    position: relative;
    background: #fff;
    width: 100%;
    height: 80%;
    overflow-y: hidden;
    border-radius: 12px 12px 0 0;
    // padding: 1.5rem;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }

  .modal-inner {
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  .modal-overlay.show .modal-content {
    transform: translateY(0%);
  }

  .modal-overlay.hide .modal-content {
    transform: translateY(100%);
  }

  .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e0e0;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    font-size: 16px;
    color: $primary-color;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: background 0.2s;
  }

  .close-modal:hover {
    background-color: #d5d5d5;
  }

  .tabs-sidebar {
    width: 250px;
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    box-shadow: $box-shadow;

  }

  .tab-button {
    padding: 15px 0px 15px 20px;
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 6px;
    transition: background 0.2s;
    font-size: 18px;
  }

  .tab-button:hover {
    background-color: #f1f9f9;
    border-right: 3px solid $primary-color;
  }

  .tab-button.active {
    background-color: #f1f9f9;
    font-weight: 500;
    color: $primary-color;
    border-right: 3px solid $primary-color;
  }

  .tab-content {
    overflow: auto;
    min-height: 0px;
    max-height: 500px;
    width: 100%;
    input, select{
      width: 100%;
    }
  }

  .variation-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .remove-button {
    background: #ff4d4f;
    color: #fff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
  }

  select,
  input {
    padding: 8px;
    border: 1px solid $primary-color;  
    border-radius: 4px;
    font-size: 14px;
    
  }


  .add-attr {
    position: relative;
    display: inline-block;
    width: fit-content;

    span {
      position: absolute;
      top: -6px;
      right: -10px;
      background-color: green;
      color: white;
      font-size: 12px;
      padding: 2px 6px;
      border-radius: 999px;
      font-weight: bold;
      line-height: 1;
      min-width: 20px;
      text-align: center;
    }

  }


  .canvas-content {
    .close-btn {
      font-size: 25px !important;
      border: unset !important;
      background-color: unset !important;
      color: $primary-color !important;
    }



  }





  .container {
    padding: 20px;
  }

  .title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
  }



  /* Sliding Canvas */
  .canvas {
    position: fixed;
    top: 0;
    left: -101%;
    width: 360px;
    height: 100%;
    background: #ffffff;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 24px 20px;
    transition: left 0.4s ease;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    z-index: 999999;

    &.open {
      right: 0;
    }
  }

  .canvas-title {
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
  }

  .canvas-content {
    .create-attribute-title {
      color: $primary-color;
      font-size: 25px;
      padding: 5px 0px;
    }
  }

  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    color: #555;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: #e74c3c;
    }
  }

  .form-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .input {
    width: 100%;
    padding: 10px 14px;
    font-size: 14px;
    border: 1px solid $primary-color;
    border-radius: 6px;
    background: #fafafa;
    transition: border-color 0.3s;

    
  }

  .values-container {
    // margin-top: 24px;
    display: flex;
    gap: 10PX;
    flex-direction: column;

    .label {
      font-weight: 500;
      color: #000000;
      margin-bottom: 8px;
      display: block;
    }

    .value-row {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 14px;

      .input {
        flex: 1;
      }
    }
  }

  .remove-btns {
    background: #e0e0e0;
    color: $primary-color;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background: #e04848;
      color: $white;
    }
  }

  .container {
    padding: 1rem;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
  }

  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #111827;
  }



  .buttons:hover {
    background-color: #007c7a;
  }

  .canvas.open {
    left: 0;
    z-index: 999999;
  }

  .canvas-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
    color: #111;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .label {
    font-weight: 500;
    color: #000000;
    font-size: 0.9rem;
  }


  .input {
    padding: 0.6rem 0.8rem;
    font-size: 0.95rem;
    border:1px solid #00969357;  
    border-radius: 6px;
    background-color: #fff;
    &:focus {
      outline: none;
      border-color: $primary-color;
      box-shadow: 0 0 0 3px rgba($primary-color, 0.1);
    }

  }

  .values-container {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .value-row {
    display: flex;
    gap: 0.5rem;
  }


  .add-Another-value-btn {
    background-color: $primary-color;
    color: #fff;
    border-radius: 6px;
    padding: .5rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
  }

  .submit-btn {
    background-color: $primary-color;
    color: white;
    border: none;
    padding: 0.7rem;
    font-size: 0.95rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
  }

  .close-btn {
    background: none;
    border: none;
    color: #6b7280;
    font-size: 1.25rem;
    align-self: flex-end;
    cursor: pointer;
  }

  .attributes-table {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 15px;
    margin-top: 2rem;
  }

  .attributes-table tr,
  .attributes-table td,
  .attributes-table th {
    display: block;
  }

  .attributes-table tbody {
    display: contents;
  }

  .attribute-card {
    background: white;
    border: 1px solid #fafafa;
    border-radius: 10px;
    padding: 1.2rem 1.2rem 1rem 1.2rem;
    box-shadow: $box-shadow;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    transition: all 0.2s ease-in-out;
    position: relative;
    justify-content: space-between;

    .delete-btn {
      background-color: unset;
      color: $primary-color;
      border: none;
      padding: 0.6rem 0.75rem;
      font-size: 0.8rem;
      border-radius: 6px;
      cursor: pointer;
      align-self: flex-start;
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .delete-btn:hover {
      color: $danger-color;
      font-size: 1rem;
  
    }

  }



  .attribute-card h3 {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    text-transform: capitalize;
  }

  .attribute-card .values {
    font-size: 1rem;
    color: #4b5563;
    text-transform: capitalize
  }

  .status-pill {
    border-radius: 9999px;
    width: fit-content;
    padding: 4px 10px;
    font-size: .75rem;
    font-weight: 600;
  }

  .active-option,
  .inactive-option {
    text-transform: capitalize;
  }

  .active-option {
    background-color: #b4e8c6;
    color: #0f4624;
  }

  .inactive-option {
    background-color: #fee2e2;
    color: $danger-color;
  }

  .selector-and-active-inactive-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .status-select {
    border: 1px solid #d1d5db;
    border-radius: 6px;
    padding: 0.2rem;
    width: fit-content;
    background: white;
  }

  

  .toggle-switch {
    width: 42px;
    height: 19px;
    background-color: #e5e7eb;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    display: flex;
    align-items: center;
    padding: 0 3px;
  }

  .toggle-switch.active {
    background-color: $primary-color;
    /* green-400 */
  }

  .toggle-switch.inactive {
    background-color: #e5e7eb;
    /* red-400 */
  }

  .toggle-thumb {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transition: transform 0.2s ease-in-out;
  }

  .toggle-switch.active .toggle-thumb {
    transform: translateX(24px);
    right: 26px;
    left: 2px;
  }


  .floting-attributes-button {
    transition: transform 0.3s ease-in-out;
    /* Optional: smooth transition on hover */
    /* Other button styles */
    position: absolute;
    right: 60px;
    bottom: 60px;
    padding: 13px !important;
    font-size: 24px !important;
  }

  .floting-attributes-button svg:hover {
    animation: rotateFan 0.5s infinite;
    /* Fast rotation */
    cursor: pointer;
  }

  @keyframes rotateFan {
    0% {
      transform: rotate(0deg);
    }

    25% {
      transform: rotate(90deg);
    }

    50% {
      transform: rotate(180deg);
    }

    75% {
      transform: rotate(270deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }




  // tabs-sidebar styling starts here



  @media(max-width: 969px) {
    .attributes-table {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    }
  }

  @media(max-width: 854px) {



    .modal-inner {
      flex-direction: column;

    }

    .tabs-sidebar {
      width: 100%;
      flex-direction: row;
      gap: 10px;
    }

    .close-modal {
      top: 5px;
    }

    .tab-button {
      margin-bottom: 0px;
      padding: 10px 20px;
      font-size: 15px;
    }

    .tab-button.active {
      border-right: unset;
      border-bottom: 3px solid #009693;
    }


    .floting-attributes-button {
      position: unset;
      padding: 10px !important;
      cursor: pointer;

    }

    .add-attribute-button-container {
      display: flex;
      justify-content: flex-end;
    }

    .title {
      margin-bottom: 0px;
      font-size: 24px;
    }




  }

  @media(max-width: 668px) {
    .canvas {
      width: 400px
    }

  }

  @media(max-width: 505px) {
    .canvas {
      width: 100%;
    }
  }



  @media(max-width: 468px) {
    .tab-button {
      margin-bottom: 0;
      padding: 9px 15px;
      font-size: 12px;
  }

  }